<ul>
  <ul class="pull-left">
    <li><a class="active">Home</a></li>
    <li><a (click)="contacts()">Contact</a></li>
    <li><a>About</a></li>
  </ul>
  <ul class="pull-right">
    <li><a class="active" (click)="logout()" *ngIf="isLoggedIn">Log out</a></li>
    <li><span>   </span>></li>
  </ul>
</ul>

<div class="row">
  <div class="col-md-12 headerRow">
    <h1>Contacts</h1>
  </div>
</div>



<div class="row" style="margin-top:50px; width:95%; margin-left:15px;">
  <div class="col-md-6">
    <div class="card" *ngFor="let item of items | async | filter:term; let i = index" (click)="this.cardData(item,i,item.$key)">
      <div class="row" style="margin-top:10px; margin-left:10px">
        <div class="cardContainer col-sm-6">
          <h4><b>{{item.text}}</b></h4> 
          <p>{{item.newEmail}}</p>
        </div>
        <div class="cardContainer col-sm-6" style="margin-top:10px">
          <h4><span class="fa fa-phone" style="font-size:40px; color:green"></span> {{item.newPhone}}</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form">
      <input type="text" class="inputForm form-control form-control-lg" #newName name="name" [(ngModel)]="this.name" placeholder="Name">
      <input class="inputForm form-control form-control-lg" type="text" #newEmail name="email" placeholder="E-mail" [(ngModel)]="this.email" >
      <input class="inputForm form-control form-control-lg" type="text" #newPhone name="phone" placeholder="Phone number" [(ngModel)]="this.phone">
      <input class="inputForm btn btn-success" (click)="addItem(newName.value, newEmail.value, newPhone.value); clearForm()" type="submit">
      <input class="inputForm btn btn-success" (click)="updateItem(newName.value, newEmail.value, newPhone.value); clearForm()" type="submit" value="Edit">
      <input class="inputForm btn btn-success" (click)="deleteItem(); clearForm()" type="submit" value="Delet">
    </div>
  </div>
</div>
