.headerRow{
    width: 100%;
    height: 80px;
    background-color: #5691ef;
    padding-top: 15px;
    padding-left: 30px;
    color: white;
    font-family: Trebuchet MS;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    margin-top: 10px;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.cardContainer {
    padding: 2px 16px;
}

.form{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    height: 400px;
    margin-top: 10px;
    padding-top: 25px;
}

input{
    width: 50%;
    margin: 10px;
}

.inputForm {
    margin-left: 140px;
}












ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    cursor: pointer;
    color: white;
}